@import url("fonts.css");

body {
  font-family: "Varela Round", "Arial Rounded MT Bold", -apple-system, BlinkMacSystemFont, "Segoe UI" !important;
  background-color: #e9f5eb;
}

.title {
  font-size: 48px;
  color: #6e661b;
}

.finkfont {
  font-family: "FinkHeavy", -apple-system, BlinkMacSystemFont, "Segoe UI";
}

div.jumbotron {
  background-color: #88c9a1;
  border-radius: 25px;
}

table.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #f8f8f0;
  border-radius: 15px;
}

th {
  font-weight: bold;
}

td {
  text-align: center;
  vertical-align: middle;
}

tbody td:nth-of-type(odd),
thead th:nth-of-type(even){
  background:rgba(200,200,200,0.1);
}

button.resetBtn {
  float: right;
}

button.btn {
  border-radius: 15px;
}

input {
  align: center;
}

a.about:link {
  color: lightgray;
}
a.about:visited {
  color: lightgray;
}
a.about:hover {
  color: lightgray;
}
a.about:active {
  color: lightgray;
}

a.titlelink:link {
  color: #4c4409;
}
a.titlelink:visited {
  color: #4c4409;
}
a.titlelink:hover {
  color: #4c4409;
}
a.titlelink:active {
  color: #4c4409;
}

div .modal-content {
  background-color: #f8f8f0;
  border-radius: 25px;
  border: 0px;
}